<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Directors</title>
</head>
<body>
<tr th:each="director : ${directorsList}">
  <td th:text="${director.getId()}"></td>
  <td th:text="${director.getFullName()}"></td>
<!--    <a href="http://localhost:8080/movie?id=${director.getId()}">director (user: admin - password: admin)</a>-->
    <button th:onclick="'window.location.href = \'/director?id='+${director.getId()} + '\''"> Подробнее </button>
    </br>
</tr>
</body>
</html>