<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
  <p>MAIN MENU</p> <br>
  <p><a href="http://localhost:8080/welcome">welcome</a></p>
  <p><a href="http://localhost:8080/genres">genre list (user: user - password: user)</a></p>
  <p><a href="http://localhost:8080/directors">directors list(user: user - password: user)</a></p>
  <p><a href="http://localhost:8080/movies">movie list (user: user - password: user)</a></p>
  <p><a href="http://localhost:8080/movie?id=4">movie (user: admin - password: admin)</a></p>
  <p><a href="http://localhost:8080/logout">logout</a></p>
</body>
</html>